{:nrepl? true
 :api-server {:http-port 9080
              :nrepl-port 9081
              :poller {:poll-interval-ms 100
                       :batch-size 5
                       :visibilty-timeout-sec 5}
              :db-cp {:maximum-pool-size 10
                      :minimum-idle 2
                      :connection-timeout 30000
                      :idle-timeout 600000
                      :max-lifetime 1800000}}}
