{:nrepl? true
 :api-server {:http-port 9080
              :nrepl-port 9081
              :db-cp {:maximum-pool-size 10
                      :minimum-idle 2
                      :connection-timeout 30000
                      :idle-timeout 600000
                      :max-lifetime 1800000}}}
