;; pedagogical note: committing cause not sensitive prod
;; use env vars or a secrets manager for real prod secrets
{:db {:dbtype "postgres"
      :dbname "projectnil"
      :username "projectnil"
      :password "projectnil"
      :host "localhost"
      :port :5433}}
