{:deps
 {ring/ring-core {:mvn/version "1.15.3"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  http-kit/http-kit {:mvn/version "2.9.0-beta3"}
  nrepl/nrepl {:mvn/version "1.5.1"}
  metosin/reitit {:mvn/version "0.10.0"}}

 :aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.2"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}}}
