{:min-bb-version "0.4.0"
 :tasks
 {
  run-api {:doc "Run the api application + nrepl"
           :task (shell "clj -M -m api.main")}
  test {:doc "Run tests using the JVM clj tool"
        :task (shell "clj -X:test")}
  dev-deps-up (do
                (println "pg dev up + migrations")
                (shell "podman compose -f podman-compose.yaml up -d"))
  dev-deps-down (do
                  (println "pg dev container down")
                  (shell "podman compose -f podman-compose.yaml down -v"))
  dev-deps-logs (do
                  (println "pg dev container logs")
                  (shell "podman compose -f podman-compose.yaml logs -f"))
  test-deps-up (do
                 (println "pg test up + migrations")
                 (shell "podman compose -f podman-compose-test.yaml up -d"))
  test-deps-down (do
                   (println "pg test container down")
                   (shell "podman compose -f podman-compose-test.yaml down -v"))
  test-deps-logs (do
                   (println "pg test container logs")
                   (shell "podman compose -f podman-compose-test.yaml logs -f"))
  lint {:doc "clj-kondo linting"
        :task (do
                (println "linting with clj-kondo")
                (shell "clj-kondo --lint bb.edn deps.edn src test --fail-level error"))}}}

