{:paths ["src" "resources"]
 :deps
 {ring/ring-core {:mvn/version "1.15.3"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  org.clojure/tools.cli {:mvn/version "1.3.250"}
  http-kit/http-kit {:mvn/version "2.9.0-beta3"}
  com.dylibso.chicory/runtime {:mvn/version "1.6.1"}
  com.taoensso/telemere-slf4j {:mvn/version "1.2.1"}
  nrepl/nrepl {:mvn/version "1.5.1"}
  cider/cider-nrepl {:mvn/version "0.57.0"}
  metosin/reitit {:mvn/version "0.10.0"}
  hikari-cp/hikari-cp {:mvn/version "4.0.0"}
  com.taoensso/telemere {:mvn/version "1.2.1"}
  aero/aero {:mvn/version "1.1.6"}
  org.postgresql/postgresql {:mvn/version "42.7.9"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1086"}}
 :aliases
 {:test
  {:extra-deps {io.github.cognitect-labs/test-runner 
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}}
